button.show-button.mat-mdc-outlined-button:not(:disabled) {
  height: 30px;
  color: var(--white);
  border: 2px solid var(--white);
}

div.mat-mdc-form-field-subscript-wrapper.ng-tns-c70-0 {
  &::before {
    content: none;
  }
}
