:root {
  --white: #ffffff;
  --white-1: rgb(245, 245, 245);
  --black: #000000;
  --dark-clear-1: #00000080;
  --dark-3: rgb(202, 202, 202);
  --dark-5: #404040;
  --dark-6: #353535;

  --dark-alpha-5: rgba(0, 0, 0, 0.5);

  --green-2: rgb(38, 230, 0);
  --green-3: rgb(33, 175, 33);

  --orange: rgb(250, 173, 30);

  --delay: 0.3s;
}
