<div class="movie container" *ngIf="movie !== null">
  <div class="page-content">
    <div class="movie__image-content">
      <img [src]="moviePosterPath" [alt]="movie.title" class="movie__image" />
      <div class="rating">
        {{ movie.voteAverage | number : '0.0-1' }}
      </div>
    </div>
    <div class="movie__about">
      <div class="subcontent">
        <span class="seciton-name">Title:</span>
        <h4 class="movie__title">{{ movie.title }}</h4>
      </div>
      <div class="subcontent">
        <span class="seciton-name">Overview:</span>
        <p class="movie__overview">
          {{ movie.overview }}
        </p>
      </div>
      <div class="subcontent">
        <span class="seciton-name">Release date:</span>
        <div class="movie__date">
          {{ movie.releaseDate | date : 'MMMM d, y' }}
        </div>
      </div>
      <div class="subcontent">
        <span class="seciton-name">Revenue:</span>
        <div class="movie__revenue">
          {{ movie.revenue | currency : 'CAD' : 'symbol-narrow' : '1.0-0' }}
        </div>
      </div>
      <div class="subcontent">
        <span class="seciton-name">Duration:</span>
        <div class="movie__duration">
          {{ movie.runtime | number : '1.0-2' }}
        </div>
      </div>
      <div class="movie__genres">
        <span class="genre movie-genre" *ngFor="let genre of movie.genres">
          {{ genre.name }}
        </span>
      </div>
      <div class="movie__actors">
        <div class="actors__head">
          <span class="movie__subtitle">Top Billed Cast</span>
          <button mat-stroked-button class="actors__show-button" appShow>
            Show all
          </button>
        </div>
        <div class="actors__cards">
          <app-actor-card routerLink="/actor" *ngFor="let actor of (credits$ | async)" [actor]="actor"></app-actor-card>
        </div>
      </div>
      <div class="movie__images">
        <span class="movie__subtitle">Images</span>
        <div class="images__block">
          <img
            class="images__item"
            *ngFor="let image of (images$ | async)"
            [src]="getImageUrl(image.filePath)"
            [alt]="image.filePath"
            (click)="openPopup(image.filePath)"
          >
        </div>
      </div>
    </div>
  </div>
  <div class="page-movie page-content">
    <span class="movie__subtitle page-movie__title">RECOMMENDATIONS</span>
    <div class="page-movie__content">
      <app-movie-item *ngFor="let movie of (recommends$ | async)" [movieItem]="movie"></app-movie-item>
    </div>
  </div>
</div>

<app-image-popup *ngIf="popupService.isOpen | async"></app-image-popup>
