<app-loader></app-loader>

<div class="actor-page container" *ngIf="person !== null">
  <div class="page-content">
    <img [src]="profilePath" alt="actor" class="actor__image" />
    <div class="actor__about">
      <h4 class="actor__title">{{ person.name }}</h4>
      <div class="subcontent">
        <span class="seciton-name">Birthday:</span>
        <div class="actor__birthday">
          {{ person.birthday | date : 'MMMM d, y' }}
        </div>
      </div>
      <div class="subcontent">
        <span class="seciton-name">Place of bitrh:</span>
        <div class="actor__place">{{ person.placeOfBirth }}</div>
      </div>
      <div class="subcontent">
        <span class="seciton-name">Biography:</span>
        <p class="actor__biography">{{ person.biography }}</p>
      </div>
      <div class="subcontent actor__images">
        <div class="images__head">
          <span class="actor__subtitle">Photos</span>
          <button
            mat-stroked-button
            class="show-button"
            appShow
            elementClass=".images__block"
          >
            Show all
          </button>
        </div>
        <div class="images__block">
          <img
            *ngFor="let image of images$ | async"
            [src]="imagePrePath + image.filePath"
            alt="actor"
            class="images__item"
            (click)="openImage(image.filePath)"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="page-movie page-content actor__movies">
    <span class="actor__subtitle page-movie__title">KNOWN BY</span>
    <div class="page-movie__content">
      <app-movie-item
        *ngFor="let movie of credits$ | async"
        [movieItem]="movie"
      ></app-movie-item>
    </div>
  </div>
</div>

<app-image-popup *ngIf="popupService.isOpen | async"></app-image-popup>
