.movie {
  cursor: pointer;
  height: 350px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px;
  margin: 10px 0;
  gap: 0.5rem;

  &:hover .movie__image-hover {
    display: flex;
  }

  &__title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__image {
    background-color: var(--dark-3);
    width: 100%;
    height: 100%;
    border-radius: 2%;
    object-fit: contain;
  }

  &__image-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2%;
    background-color: var(--dark-alpha-5);
    top: 0;
    left: 0;
    fill: var(--green-2);
    display: none;
  }

  &__genres {
    width: 100%;
    height: 20px;
    gap: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.image-content {
  position: relative;
  width: 180px;
  height: 270px;
  align-self: center;
}
