.movie {
  cursor: pointer;
  height: 350px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px;
  margin: 10px 0;
  gap: 0.5rem;

  &__title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__image {
    width: 180px;
    height: 270px;
    object-fit: contain;
    border-radius: 2%;
  }

  &__genres {
    width: 100%;
    height: 20px;
    gap: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.rating {
  position: absolute;
  top: 1rem;
  width: 40px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 600;
  color: var(--white);
  transform: translateX(-25%);
  border-radius: 10%;
  background-color: var(--green-2);
}

.genre {
  font-size: 0.8rem;
  background-color: whitesmoke;
  color: var(--black);
  margin: 0 0.1rem;
  text-align: center;
  border-radius: 10px;
  padding: 0.1rem 0.3rem;
}

.image-content {
  position: relative;
  height: 80%;
  align-self: center;
}
