.page-not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  color: var(--white);
  letter-spacing: 0.1rem;
  transform: translate(-50%, -50%);

  &__text {
    font-size: 3rem;
    line-height: 4rem;
  }
}

.code-text {
  font-size: 0;
  color: var(--white);
}

.number {
  font-size: 5rem;
  line-height: 6rem;
  color: var(--orange);
}

.symbols {
  font-size: 5rem;
  line-height: 6rem;
}